body {
    font-family: Arial, Helvetica, sans-serif;
}

header, main {
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
}

header {
    grid-template: 1fr / 1fr 250px 1fr;
    margin-bottom: 100px;
}

header div {
    grid-column: 2/ span 1; 
    text-align: center
}

h1 {
    font-size: 28px;
}

h3 {
    font-style: italic;
    font-size: 20px;
}

h1, h3 {
    font-weight: unset;
    margin: 10px;
}

main {
    grid-template: 1fr 1fr 1fr / 1fr;
    grid-row-gap: 50px;
}

section {
    transition: 0.5s;
    border: 2px dashed black;
    margin: auto;
    text-align: left;
    display: block;
    width: 100%;
}

section:not(:hover) {
    transition: 0.5s;
    
}

.borderText {
    position: relative;
    top: -15px;
    left: 65px;
    background: white;
    font-size: 20px;
    width: 100px;
    text-align: center;  
}

#halfBorder {
    position: absolute;
    top: -5px;
    left: -2px;
    width: 100%;
    height: 15px;
}

.text1, .experience {
    padding: 0px 20px 20px;
}

.experience {
    overflow: auto;
    color: black;
    transition: color 0.5s;
}


.expLeft, .expRight {
    float: left;
    width: 50%;
}

.expTitle {
    font-weight: bold;
}

.skillBox {
    padding: 0px 20px;
    display: grid;
    grid-template: 75px 75px / 20% 20% 20% 20%;
    grid-column-gap: 7%;
}

.skill {
    align-self: center;
    justify-self: center;
    transition: transform 0.5s;
}

#skJS, #skMDB {
    min-width: 110px;
}

img, .skillName {
    float: left;
}

.skillName {
    padding: 5px;
    border: 1px solid black;
    transition: color 0.5s,
                background 0.5s;
}

#sec1 .borderText {
    transition: transform 0.5s;
} 

#sec1 #halfBorder{
    transition: border 0.5s;
}

#sec1:hover {
    transition: 0.5s;
    border: 2px black; 
    border-style: groove dotted;
    border-radius: 20px;
    box-shadow: 1px 1px 10px;
}

#sec1:hover #halfBorder {
    border: 2px black;
    border-style: dotted dotted none;
}

#sec1:hover .borderText {
    transform: translate(230px, 0px);
    
}

#sec2 {
    transition: box-shadow 0.5s,
                background 0.5s,
                color 0.5s;
            
}

#sec2 .borderText {
    transition: border 0.5s;
    width: 160px;
    border: 2px dotted transparent;
}

#sec2:hover {
    background: rgb(17, 75, 95, 0.9);
    
    transition: 0.5s;
    border: 2px dotted white;
    box-shadow: 15px 0px 15px -4px #3C6B7C, 
                -15px 0px 15px -4px #3C6B7C, 
                0px 10px 0px white, 
                0px -10px 0px white;
}

#sec2:hover .experience {
    color: white;
}

#sec2:hover .borderText {
    color: black;
    border: 2px dotted black;
}

#sec3 {
    transition: box-shadow 0.5s,
                transform 0.5s;
}

#sec3 .borderText {
    transition: box-shadow 0.5s,
                transform 0.5s;
    animation: spin 1s;
    width: 60px;
}

#sec3:hover {
    box-shadow: 1px 1px 10px;
    transform: scale(1.1);
}

#sec3:hover .borderText {
    box-shadow: 6px -8px 10px -3px black,
                -6px -8px 10px -3px black,
                0px 3px 5px white;
    transform: rotate(360deg);
    
}

.skill .tooltip {
    background: #028090;
    color: white;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    z-index: 5;
    left: 120%;
    top: -7px;
    border-radius: 5px;
    display: none;
    width: 150px;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    z-index: 1;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #028090 transparent transparent;
}

.skill:hover {
    transform: scale(1.2);
    transform-style: preserve-3d;
    z-index: 5;
}

.skill:hover .tooltip {
    display: block;
}

.skill:hover .skillName {
    background: #028090;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

@media only screen and (max-width: 800px) {


    header, main {
        width: 90%;
    }

    section {
        font-size: 14px;
    }

    .borderText {
        left: 50%;
        transform: translateX(-50%);
    }

    #sec1 {
        text-align: center;
    }

    #sec1:hover .borderText {
        transform: translateX(-50%);
    }

    .expRight {
        text-align: center;
    }

    #sec3:hover .borderText {
        transform: translateX(-50%) rotate(360deg);
    }
    
}

@media only screen and (max-width: 550px) {
    .skillBox {
        grid-template: 75px 75px 75px / 26% 26% 26%;
        grid-column-gap: 11%;
    }

    .skill .tooltip {
        top: 125%;
        left: 5%;
        font-size: 12px;
        width: 100px;
    }

    .tooltip::after {
        top: -9%;
        left: 5%;
        border-color: transparent transparent #028090 transparent;
    }
}

@media only screen and (max-width: 450px) {
    .skillBox {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-row-gap: 20px;
        padding: 20px 0;
    }    
    .skill {
        min-width: 0;
    }

    

    

}